@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
	@apply transition-colors duration-200;
	max-width: 100%;
	overflow-x: hidden;
}

@keyframes slide-down {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-up {
	0% {
		transform: translateY(10%);
		opacity: 0.5;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slide-left {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}

header > * {
	opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
	#preloader-r {
		animation: slide-right 0.8s ease-out forwards 1.5s;
	}

	#preloader-l {
		animation: slide-left 0.8s ease-out forwards 1.5s;
	}

	#preloader-text {
		animation: fade-out 0.5s ease-out forwards 1s;
	}

	#hero-section {
		animation: fade-in 1s ease-out forwards 2s;
	}

	.slide-down {
		animation: slide-down 1s ease-out forwards 1.3s;
	}

	.slide-up {
		animation: slide-up 1s ease-out forwards 1.3s;
	}
}
